:root {
  background-color: #fff9f2;
}

.nav {
  display: flex;
  padding: 5%;
  position: fixed;
  justify-content: flex-end;
  width: 90%;
}

.nav_icones {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav_icones_linkedin {
  margin-right: 0.8rem;
}
